@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
  font-family: 'Roboto', sans-serif;
  height:100vh;
  width:100vw;
}
body {
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
h1, h2 {
	text-align:center;
}
box {
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.error {
  color: red;
}
.line {
	display:flex;
	justify-content:space-between;
	margin:5px 0;
}
label {
	margin-right:10px;
	padding:3px;
	display:inline-block;
}
input {
	flex-grow:1;
	text-align:right;
	padding:3px;
	border-radius:5px;
}
input[type='checkbox'] {
	flex-grow:0;
}

a:link, a:visited, button {
  background-color: #f44336;
  color: white;
  margin: 7px 0;
  border-radius:5px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}