

<!DOCTYPE html>
<html>
    
    <head> 
        <title>CSC210 Demo 1 | Create Account</title> 
        <link rel = "stylesheet" href = "{{ url_for('static', filename='styles.css') }}"/>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='normalize.css') }}"/>
    </head>
    <body>
        <div class="container">
            <form method="POST" action="/signup" class="container">
                <h1>Create Your Account</h1>
                {{ form.hidden_tag() }}
                <div class="line">{{form.email.label}}{{form.email()}}</div><br>
                <div class="line">{{form.username.label}}{{form.username()}}</div><br>
                <div class="line">{{form.password.label}}{{form.password()}}</div><br>
                <div class="line">{{form.password2.label}}{{form.password2()}}</div><br>
              <button> signup</button>
            </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages%}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    </body>
</html>
