

<!DOCTYPE html>
<html>
    
    <head> <title> Create new account </title> </head>
    <body>
        <form method="POST" action="/signup">
            <h2>Please create a new account</h2>
            {{ form.hidden_tag() }}
            {{form.email.label}}:{{form.email()}} <br>
            {{form.username.label}}:{{form.username()}} <br>
            {{form.password.label}}:{{form.password()}} <br>
            {{form.password2.label}}:{{form.password2()}}  <br>
          <button> signup</button>
        </form>
         
    </body>
</html>
