<!DOCTYPE html>
<html>
<head>
    {% include 'includes/head.html' %}
	<title>MeetUp</title>
	<meta name='description' content='TODO: write description'>
     <link rel="stylesheet" href= "{{ url_for('static', filename='css/main.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src= "{{ url_for('static', filename='js/scheduling.js') }}"></script>
</head>
<body>
    {% include 'includes/header.html' %}
    <main class='body'>
<table id="select-times">
    <tr class="days">
        <td class="day"></td>
        {% for day in schedule.days %}
            <td class="day">{{ day }}</td>
        {% endfor %}
    {% for time in schedule.times %}
        <tr>
            <td class="time">{{ time }}</td>
            {% for date in schedule.dates %}
                <td id="{{ date ~ ' ' ~ time }}" class="selected"></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
    <button onclick="submit()">Submit</button>
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>