<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title></title>
	<meta name='description' content='TODO: write description'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' href='{{ url_for("static", filename="normalize.css") }}'/>
	<link rel='stylesheet' href='{{ url_for("static", filename="main.css") }}'/>
</head>
<body>
	<div class='box'>
		<form method='POST' action='/signup' class='box'>
            <h1>Create your Account</h1>
            {{ form.hidden_tag() }}
            <div class="line">{{ form.email.label }}{{ form.email() }}</div><br>
            <div class="line">{{ form.username.label }}{{ form.username() }}</div><br>
            <div class="line">{{ form.password.label }}{{ form.password() }}</div><br>
            <div class="line">{{ form.password2.label }}{{ form.password2() }}</div><br>
            <button>Signup</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages%}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
	</div>
</body>
</html>